.badge {
  display: inline-block;
  border-radius: 8px;
  padding: 4px 12px 4px 12px;
  font-size: 14px;
}
.answered {
  border: 2px solid var(--brown-40);
  color: var(--brown-40);
}

.unanswered {
  border: 2px solid var(--gray-30);
  color: var(--gray-30);
}
